// Font Mixins
@mixin serif-font {
    font-family: 'Microsoft JhengHei';
}

@mixin script-font {
    font-family: 'Microsoft JhengHei';
}

@mixin body-font {
    font-family: 'Microsoft JhengHei';
}

@mixin heading-font {
    font-family: 'Microsoft JhengHei';
}